[2014-08-12 22:07] jsmartin opened #2 "Show how to use inventory ranges."

[2014-08-12 22:32] jsmartin opened #4 "Need to use play naming."

[2014-08-12 22:39] jsmartin opened #5 "Example of ignore_errors and failed_when"
Check to see if postgres is installed, if so, do some things.  It is not imperative that the actual command  be successful.

[2014-08-12 22:47] jsmartin opened #6 "Don't introduce Jinja Templates until the apache_centos role lesson."

[2014-08-14 20:03] #2 closed, assigned to nobody

[2014-08-14 20:03] #4 closed, assigned to nobody

[2014-08-14 20:03] #6 closed, assigned to nobody

[2014-08-28 00:47] seancribbs opened #7 "Apache config path incorrect on Ubuntu"
[code]

This affects the examples from `apache_centos_ubuntu` onward. The correct directory for Ubuntu is `/etc/apache2`.

[2015-09-03 15:24] #7 closed

[2015-09-03 15:24] #5 closed

[2016-02-04 19:47] jsmartin opened #49 "Fork influxdb role so we have ownership"

[2016-02-04 19:48] jsmartin opened #50 "Clone telegraf/influxdb/grafana repos"
We need to manage the binaries, let's put a mirror on S3 so we can be self-reliant.

[2016-02-04 19:49] jsmartin opened #51 "pin telegraf and influxdb versions"
Let's be explicit of the versions of the packages we are installing.

[2016-02-04 22:08] tima commented on #49
Started: https://github.com/tima/ansible-role-influxdb

[2016-02-04 22:11] jsmartin commented on #49
Awesome, looks like you had a commit in there, might as well use that as our starting point.

[2016-02-04 22:15] tima commented on #49
I hadn't updated my personal fork since before the holidays. I made one PR
back then that that made it in since my last pull tho so I just merged my
local branch in to get that.

On Thursday, February 4, 2016, James S. Martin <notifications@github.com>
wrote:

--

[image: photo]
Timothy Appnel
Senior Architect

Ansible, Inc. *•* www.ansible.com

[2016-02-11 18:15] tima opened #54 "Remove sendgrid module from aws_lab_setup once tested on v2.0."

[2016-02-11 18:18] tima opened #55 "Document that student inventory file is on their controller as is part of bootstrapping process."

[2016-02-12 18:20] tima opened #58 "Create a single vagrant hosts file and ansible.cfg sample rather than liter the repo with copies."

[2016-02-16 02:08] #50 closed

[2016-02-16 02:08] #51 closed

[2016-02-16 02:09] #49 closed

[2016-06-10 19:55] thisdavejohnson opened #70 "Sendgrid fails to send mail"
`TASK [training_infra : Email Hosts file] ***************************************
task path: /root/lightbulb/aws_lab_setup/roles/training_infra/tasks/main.yml:21
An exception occurred during task execution. To see the full traceback, use -vvv. The error was: TypeError: string indices must be integers, not str
failed: [localhost -> localhost] (item={u'username': u'thisdavejohnson', u'email': u'this

[2016-06-10 19:57] thisdavejohnson commented on #70
This is with Ansible 2.1.0 and the latest checkout of lightbulb.

[2016-06-23 20:51] thisdavejohnson commented on #70
This also fails with the same error on Ansible 2.0.0.2.

[2016-06-24 14:21] jsmartin commented on #70
@thisdavejohnson I'm wondering if our playbooks are assuming we are using Jon's fork of the sendgrid module: https://github.com/ansible/ansible-modules-extras/pull/1275

[2016-06-24 14:24] jsmartin commented on #70
Oh yes, it is obviously, I see the forked module already in the role.  Maybe sendgrid has had an API change?

[2016-07-06 05:48] samdoran commented on #70
@thisdavejohnson Digging in to this since I'm doing a training engagement this week.

I am able to duplicate the original error (reported in Slack):

[code]

This happens with the latest (>=3.0) `sendgrid` module. Seems something changed there that needs to be updated.

Regarding the issue reported here, I'm unable to duplicate the error.

- Python 2.7.11
- macOS 10.11.5
- Ansible 2.1.0.0
- `sendg

[2016-07-16 04:49] #55 closed

[2016-08-03 16:25] smapjb commented on #70
I hit the problem on stock RHEL 7.2 - I downgraded sendgrid (upon reading this) and now it works ok

sudo pip install sendgrid==2.1.1

- Python 2.7.5
- RHEL 7.2
- Ansible 2.1.1

[2016-08-08 13:27] smapjb opened #73 "Tower 3.0.1 fails to install on control machine"
The control machine is set up with epel-release installed..

The tower installer writes its own epel repo file called epel-7 and so the ./setup.sh fails because of a duplicate EPEL repo.

Fundamentally I think this is a problem with the tower installer. But to resolve this I did a
`yum erase epel-release`

[2016-08-08 14:16] #58 closed

[2016-08-08 14:19] samdoran commented on #73
@smapjb I run into this all the time as well. This is an issue with the Ansible Tower installer. I'll submit a PR to ansible-tower to make the installer more intelligent.

[2016-08-08 15:18] thisdavejohnson commented on #70
I still have this problem with:

- Python 2.7.5
- RHEL 7.1
- Ansible 2.1.1
- sendgrid library 2.1.1
- custom sendgrid.py modules included with the role

[2016-08-09 03:09] samdoran commented on #73
From talking with @ghjm more today, seems this is more an issue with using PIP to install Ansible. I'm going to shift gears and try installing Ansible via yum and see if we still run into issues.

[2016-08-09 04:28] samdoran commented on #73
Think I've gotten to the bottom of this and have a working solution.

As @ghjm pointed out, removing `epel-release` _doesn't_ actually fix the problem — that was a red herring. Running `setup.sh` _twice_ is what does the trick for reasons I didn't bother to determine.

The fix is to install Ansible via `yum` not `pip`. I'll submit a PR shortly.

[2016-08-28 16:23] tima opened #78 "vim-ansible-syntax installs under root and not user"
vim-ansible-syntax role is run with become:yes that the user is root so that ansible_env.HOME /var/root and not /home/username.

[2016-10-19 19:36] tima commented on #73
For the sake of getting a Tower instance up quickly and usable, would it be better to use the prebuilt Tower AMIs etc here? Just a thought.

[2016-10-19 19:59] samdoran commented on #73
It depends. If we want to teach Tower installation as part of the training, then nope. But if the goal is to teach Tower, installing it may or may not be valuable but getting into Tower faster is more valuable. Probably should ask @thisdavejohnson and @wtcross.

[2016-10-19 20:40] tima commented on #73
@samdoran For what we've been talking it's both unfortunately.

[2016-10-25 00:17] auden-rovellequartz commented on #70
I have this issue (Running on Apache/2.4.7 (Ubuntu), Python 2.7.6)

[2016-10-25 13:31] samdoran commented on #78
@tima Fixed in 2f60687a1d187e1671c84b6448587ca96ca9f860

I also simplified this quite a bit from installing a bunch of plugins to just using a basic `vimrc` file.

[2016-10-25 13:31] samdoran commented on #54
This is merged into 2.2. I'll remove the built-in module once 2.2 ships.

[2016-10-25 13:33] samdoran commented on #73
Fixed Tower installation falirue in e5a1fc03fad8de930c2c777fe04336babbeb31ee.

[2016-10-25 14:07] samdoran commented on #70
@thisdavejohnson @auden-rovellequartz

I was able to successfully send email from CentOS 7.2 and Ubuntu 14.04.

Can you please try using branch `wip-refactor-provisioner`? Make sure to check out the README since several things have changed and you might need to change your `extra_vars.yml` slightly.

[2016-10-25 19:39] samdoran commented on #70
CentOS 7.2: Python 2.7.5
Ubuntu 14.04: Python 2.7.6

[2016-11-02 19:43] samdoran commented on #54
Removed custom sendgrid module in https://github.com/ansible/lightbulb/pull/81/commits/60dabb213db41fe0415bfd2a66a8572e5980dd6f. Tested with Ansible 2.2.0.0 and seems to work. Can others test to verify?

[2016-11-02 19:44] samdoran commented on #70
Is this still an issue with Ansible 2.2? I just tested with the built in `sendgrid` module on 2.2 and it works, but I'm a bad tester since I can't duplicate this.

[2016-12-13 19:29] tima commented on #70
I discovered using Ansible v2.2 that the sendgrid client library has made a number of breaking changes in the past calendar year.

https://github.com/sendgrid/sendgrid-python/issues/217

The module in v2.2 only works with versions of the library *prior* to v3.0. The latest is 3.6.3. If anyone does a `pip install sendgrid` they're going to get a library that will give them a stacktrace dump when th

[2016-12-13 20:05] tima commented on #70
Posted this as an issue here: https://github.com/ansible/ansible/issues/19314

[2016-12-13 20:42] tima commented on #54
I can verify with the caveat of #70. Closing.

[2016-12-13 20:42] #54 closed

[2016-12-13 20:42] tima commented on #73
@sdoran: Can this be closed?

[2016-12-13 20:50] tima opened #82 "Split AMIs data out from AWS instance size and disk information"
[This comment refers to the refactored lab provisioner being developed in #81.]

Since AMIs are only available in one region and we want to support different operating systems (RHEL and CentOS to start), AMIs meta data should be separate from the instance sizing and lab topology definition. The OS type can be static.

Which regions to support initially needs to be determined. Prior to this, lightb

[2016-12-13 20:55] tima opened #83 "Implement default lab instance profile function"
[This comment refers to the refactored lab provisioner being developed in #81.]

Related to #82, the idea here is to have a default instance profile to cut down on unnecessary repetitive definitions of lab machines.

[2016-12-13 20:58] tima opened #84 "implement no_ansible option in lab provisioner"
Some forms of lightbulb training have an installing ansible workshop however the provisioner (#81) installs ansible without the option of skipping that step.

[2016-12-13 21:04] tima opened #85 "install pip and install ansible with it"
[This comment refers to the refactored lab provisioner being developed in #81.]

Some forms of hands on training use pip in their exercises to install python dependencies. The provisioner used to install pip, but was changed(?) to use yum exclusively.

Installing using PIP is the recommend/preferred means of installing ansible. Not using pip can be problematic because of the occasional lag new rel

[2016-12-13 21:08] tima opened #86 "lab provisioner tags are not documented and seem excessive."
[This comment refers to the refactored lab provisioner being developed in #81.]

There seems to be an excessive use of tags that are not documented. Given the level of configuration the various lightbulb v2 labs are expected to see, I recommend we implement configuration options as feature switches (variables) so they can be shared as in files and versioned controlled unlike command line tags as i

[2016-12-13 22:25] tima opened #87 "Implement install_ansible_tower option to install or not install tower in a lab environment"
[This comment refers to the refactored lab provisioner being developed in #81.]

Sometimes you are teaching how to install Tower, sometimes you are doing a demo where you just need it up and running. The lab provisioner should support a configuration option for both.

Default would be: no (don't install)

[2016-12-13 23:09] tima commented on #70
Bollocks! I just saw in the docs where the sendgrid version is flagged. Still it should be better handled than it is.

[2016-12-13 23:21] tima opened #88 "document pip install passlib"
Another small thing I ran into using the provisioner being developed in #81: We should make mention of needing passlib in the lab provisioner docs: http://docs.ansible.com/ansible/faq.html#how-do-i-generate-crypted-passwords-for-the-user-module

[2016-12-14 05:38] heenashree opened #89 "apache_dirs undefined"
I am getting below error while executing playbook for apache
{"failed": true, "msg": "'apache_dirs' is undefined"}
so I defined apache_dirs: /etc/httpd in webservers under group_vars folder but the issue remains.

[2016-12-14 19:05] samdoran commented on #73
@tima The fix for this is in #81. Need to get that merged in order to close this.

[2016-12-15 17:22] tima commented on #89
@heenashree: Can you be specific as to which playbook (file path) and branch you got this with? We have a few apache playbooks floating around as part of the progressive build up of concepts.

[2016-12-15 20:24] samdoran commented on #82
Added this in b00054a5e4d7e186699014a786918c1d7bc78850

[2016-12-17 15:38] heenashree commented on #89
I am using below playbook lightbulb/lessons/apache_centos_ubuntu/roles/apache/tasks/main.yml

Running ansible-playbook gives same error for lameversion as well even though it has been specified in group_vars

FAILED! => {"failed": true, "msg": "the field 'args' h       as an invalid value, which appears to include a variable that is undefined. The        error was: 'lameapp_version' is undefined\n

[2016-12-19 19:18] tima opened #90 "Tower lab license"
We need to document and/or automate licenses to run Tower in a lab environments.

[2016-12-19 19:44] tima opened #91 "Address AWS inventory in Tower lab(s)"
In v2 we have not addressed how to handle credentials for AWS dynamic inventory in Tower for students.

[2016-12-19 22:01] tima opened #92 "apache and nginx basic and role examples should allow for the port to defined."
Add a variable for the port the web server (nginx or apache) in the playbook and configuration template to which port the web server will bind. This effects basic and role versions of the apache and nginx examples.

[2016-12-19 22:18] tima opened #93 "Replace web server example static and homepage templates with something more esthetically pleasing and on brand"
The static home page in the "simple" examples and the templates in the "basic" and "role" examples of apache and nginx are rather pain and pretty ugly. They should be replaced with something that is more esthetically pleasing though simple and on brand. Something like this one: https://github.com/tima/8ball-service/blob/master/app/templates/8ball.j2

[2016-12-22 02:03] tima commented on #93
@gdykeman is working on this. He's not a member of this project currently that I can assign it to him.

[2016-12-22 16:55] gdykeman commented on #90
Currently uploading to S3 (a day or so prior to the workshop) and have the students reference it during the workshop.

[2016-12-22 16:57] gdykeman opened #94 "Apache to Nginx transition (need to stop service)"
If running through the examples in order, students will error on nginx examples as the http port is busy.  Need to include a playbook to stop httpd and or have the students perform that before moving onto nginx.

[2016-12-23 18:57] tima commented on #94
Agreed. This could also be addressed by #92 and using a different port with nginx examples. Would need to check the provisioner has created a security group with that port open.

[2017-01-04 18:29] tima commented on #92
I'd like to append this issue to suggest we remove `apache_max_keep_alive_requests` and `nginx_keepalive_timeout` from these examples. It's too hard to demonstrate or test (and therefore of little value) as opposed to a port.

[2017-01-04 18:35] tima commented on #94
I've written the basic playbook and roles workshops with extra credit assignments to create a stop and remove playbook/tasks. Need to provide the solution in the nginx examples at a minimum.

[2017-01-09 19:16] tima commented on #93
Closed with commit of 7f30e5f1d and 2952d338.

[2017-01-09 19:16] #93 closed

[2017-01-09 22:18] gdykeman opened #98 "Control should default to rhel7-tower not rhel7"
lightbulb/aws_lab_setup/roles/manage_ec2_instances/defaults/main.yml

Should be:
ec2_lab_node_types:
  - name: control
    type: rhel7-tower

Currently set to:
ec2_lab_node_types:
  - name: control
    type: rhel7

Which uses a t2.micro instance

[2017-01-09 23:42] tima commented on #98
@gdykeman: Switching to rhel7-tower would cause the provisioner to spin up an instance with Tower pre-installed. Someone stepping lightbulb training may not want that and may not be interested in the Tower material. Also t2.micro is not enough machine to run Tower. With all of that in mind, I think defaulting to the most generic thing is the way to go.

[2017-01-10 01:51] samdoran commented on #98
@gdykeman So you're effectively requested by the control node have Ansible Tower installed by default rather than an empty node?

That default stems from our old training curriculum where we had students install Ansible Tower. Fewer and fewer folks seem interested in that these days so I understand the desire for a change of the default.

One thing to note: it _actually_ spins up the AMI with Cent

[2017-01-10 06:58] samdoran commented on #87
I think rather than an option to install or not, it would be better to change the lab configuration to spin up the AMI with or without Tower. This goes along with notion of being able to specify a lab configuration via a single parameter, which will change which instances and how many are created.

[2017-01-10 06:59] samdoran commented on #98
Just took a closer look at this and either Tower instance is defined as t2.medium, so node size is set properly.

The bigger issue is the "should" here. As @tima points out, someone may not want a Tower instance. The better route would be adding the ability to specify a lab environment, or specifying your own lab config until I get that feature a bit more baked.

[2017-01-10 07:01] samdoran commented on #98
One slight issue I'm having is the login name for RHEL vs CentOS vs Ubuntu is different. Our current method of handling that isn't done completely since it sets one global value rather than a per instance value. This needs to be addressed in the provisioning role as well as the generated inventory files.

Nothing is ever simple.

[2017-01-10 08:37] samdoran commented on #98
I solved the login name issue in 053bb7d258db243235dbbe97dc84c85ef15444db.

Still seems the best way to override the default lab config is via the extra-vars used during provisioning.

[2017-01-10 09:08] #98 closed

[2017-01-10 16:56] tima commented on #94
Implemented with 0db28a8.

[2017-01-10 16:56] #94 closed

[2017-01-11 22:43] tima commented on #87
Yeah I guess this is more of a documentation issue than anything. At least initially.

I think eventually the provisioner should have the option of pre-populating Tower for spinning up a quick demo environment for SAs and TAMs. It's probably worth considering a better means of communicating the default admin password to these users than SSH in and note the random password.

[2017-01-13 15:28] gdykeman opened #99 "aws_lab_setup needs to pull v2 branch"
Currently with the aws_lab_setup, it's cloning the master branch into student's control node.  Need to change this to version: v2

[2017-01-13 15:36] gdykeman commented on #99
Will put in a PR

[2017-01-13 15:36] #99 closed

[2017-01-14 23:30] jduncan-rva opened #101 "stop disabling firewalld"
a horrible practice to show customers, even for demos

[2017-01-14 23:30] jduncan-rva opened #102 "stop disabling selinux"
a horrible practice to show customers, especially in a scripted demo

[2017-01-16 18:57] #78 closed

[2017-01-16 18:58] #73 closed

[2017-01-16 21:20] bhirsch70 opened #103 "Suggest a different practice around passwords"
Currently, aws_lab_setup both stores the participants passwords in inventory, ```<username>-instances.txt``` as well as sends it to the participant via sendgrid email.

I would suggest removing that password from both the inventory and not sending it out via email.

A workshop instructor can simply tell participants the password on the day of the workshop/training.

[2017-01-24 19:24] tima commented on #103
Yeah I agree. That template/method is something leftover from a previous generation of our lab provisioner that needs to be cleaned up. Since we create and copy each students' static inventory into their home directory, emailing it is entirely unnecessary. We just need to email their username and IP address to their control box.

Removing the static inventory password in the file we upload is some

[2017-01-24 21:15] tima commented on #102
Spoke to @sdoran about this because I wasn't sure why that step was in there. The Lightbulb lessons used grafana. Getting grafana to work required letting it bind to a port that SELinux didn't allow and the `seport` module didn't work properly to resolve it.

It's also worth mentioning that the lab provisioner was not designed to be used as a demo or how to build a production environment.

Once we

[2017-02-02 16:29] tima opened #104 "Create IAM user(s) and assign to instance profile to facilitate dynamic inventory in Tower labs"
Currently our Tower workshops do not incorporate dynamic inventory though its a recommended and common usage pattern. We need to address this with our giving away full access to the AWS account being used by the AWS lab provisioner.

[2017-02-03 16:54] gdykeman opened #106 "lightbulb/facilitator v2"
Introduction to Ansible Tower Hands-On Workshop

Believe the prerequisites content is for non 'hands-on' workshops.  Might need to have similar wording to the Ansible Hands-On workshop.  Currently, it looks like it's worded to be a lecture / non hands-on.

[2017-02-06 18:29] tima commented on #106
The two Tower workshops are placeholders taken from a previous generation of material.

[2017-02-06 23:03] gdykeman commented on #106
Roger. Closing.

[2017-02-06 23:03] #106 closed

[2017-02-08 21:51] tima opened #107 "Modify user static inventory path"
The `lessons/` folder is going away in v2. The inventory file should be moved to `~/hosts`.

[2017-02-08 21:52] tima opened #108 "Install wget on the control machines"
It makes grabbing files (like the Tower installer) much easier so let's just load it up.

[2017-02-08 22:02] tima opened #109 "git clone locally and sync files to student control hosts"
Currently the provisioner does a git clone on each machine and removes files students do not need. That's fine unless you re-run the provisioner. A secondary git clone fails because of uncommitted changes. Since students aren't making changes to lightbulb and committing them, the provisioner should check out a copy locally and then synchronize file to each students control machine.

[2017-02-08 22:05] tima opened #110 "Install python-pip on the control machines"
It's just handy to have around and the ansible install workshop is setup to use pip to install Ansible.

[2017-02-10 04:29] tima commented on #110
Duplicate of #85

[2017-02-10 04:29] #110 closed

[2017-02-10 19:10] tima opened #112 "Create User Group tasks fails on web nodes with v2.2.1"
Running the lab provisioner locally from my Mac with ansible 2.2.1, all my web nodes failed the Create User Group task in the user_accounts role. When I downgraded to 2.2.0 everything worked as expected.

[code]

It appears the username var is going out of scope or something. Lacking time I was unable to find how that var is getting set. username is in the users dictionary, but the task isn't refe

[2017-02-10 19:11] tima commented on #112
@samdoran I'd appreciate if you could take a look at this if you have a chance. Guessing you will spot what's gone amiss faster.

[2017-02-10 19:22] samdoran commented on #112
I'll take a look as soon as I can.

[2017-02-13 21:23] samdoran commented on #112
Definitely seems to be a bug in 2.2.1 that is only setting the fact for the first host and not the others.

In 2.2.0:

[code]

In 2.2.1:
[code]

[2017-02-13 21:28] samdoran commented on #112
This is the issue we're hitting: https://github.com/ansible/ansible/issues/20508

[2017-02-22 15:18] samdoran commented on #112
Just tested with `2.2.0-0.1.rc1` and the issue persists. 😞

[2017-02-22 15:34] samdoran commented on #112
But it's still working fine in `2.1.5.0-0.1.rc1`.

[2017-03-19 17:13] tima opened #113 "Implement optional git version and url to lightbulb fetch task"
For times when a facilitator needs to specify a certain branch or tag or a their own fork of lightbulb. Defaults to HEAD (param omit) and the standard ansible/lightbulb repo URL otherwise.

[2017-03-19 17:13] tima commented on #113
Work relates to bug #109.

[2017-03-19 17:22] tima opened #114 "instructor_inventory.txt template does not build groups properly when using generic users ranges."
When generating labs such using user names such as student1, student2... student10... student 20, a groups such as student1 has the nodes for student10, student11 and so on in it.

[2017-03-19 17:26] tima opened #115 "instructor_inventory should create groups by node type such as control, web etc."
In the event an instructor needs to perform an operation on student nodes such as all web nodes, they should be able to target this easily with a group.

[2017-03-19 17:28] tima opened #116 "Provisioner should assure/create vpc and subnet etc and not require they exist."

[2017-03-19 17:34] tima opened #117 "Configure firewalld will all ports needed for lab exercise and workshops rather than stop it"
Thinking ports 22, 80, 443, 8080, 8888. Currently firewalld (RHEL7) blocks everything but port 22. Others?

[2017-03-19 17:44] tima opened #118 "Remove haproxy and grafana group generation from user inventory file templates"

[2017-03-19 17:51] tima opened #119 "Cleanup inline CSS styles and abstract to ansible.css file"

[2017-03-19 23:28] tima opened #120 "Have deck accept config file via reveal.js init"
This optional configure should enable a facilitator/instructor to insert their name, title and company without having to modify HTML. They should optionally should also be able to insert their email, github and twitter contact info.

Since this configuration file is user-specific it should live in a standard location and be ignored by git for version control.

Format: JSON?

[2017-03-19 23:29] tima opened #121 "Add mechanism to email out Tower license file to students if provided"

[2017-03-21 15:06] rmarcand opened #124 "Configure sshd and sudoers"
Error --->>

TASK [common : Configure sshd and sudoers] *************************************
fatal: [TRAINING-LAB-rmarcandier-node1]: FAILED! => {"failed": true, "msg": "[{u'dest': u'/etc/ssh/sshd_config', u'regexp': u'^#?Port', u'line': u\"Port {{ ssh_port | default('22') }}\", u'validate': u'sshd -t -f %s'}, {u'dest': u'/etc/ssh/sshd_config', u'regexp': u'^#?PasswordAuthentication', u'line': u'

[2017-03-22 00:43] rmarcand commented on #112
@samdoran

Version 2.2.0.0

I get the following error regarding "Module Failure"

[code]
beyond 2.2.0.0

I get the following error regarding module "sengrid" attachments

[code]

[2017-03-22 01:10] tima commented on #112
The git issue is a known issue. The key is the error message "Local modifications exist" in there. The task that follows the git task makes modifications that secondary runs of the playbook cause this failure. See #109.

The sendgrid issue is a known one where prior to 2.2 that module did not support attachments. The provisioning tool bundled it's own until the changes were merged and released in

[2017-03-22 01:18] rmarcand commented on #112
Hello tima,
Thank you for letting me know. I will check it out now 👍

[2017-03-22 01:43] tima commented on #124
I'm pretty sure this is the same bug in v2.2.1 surfacing in a different way than here #112. It's the same message (username in undefined) tho I'm curious why you it fails at this point. What OS are the nodes and haproxy running?

The workaround is to use v2.2.0.

[2017-03-22 01:55] rmarcand commented on #124
Hello tima,
I am not sure about the OS on the VMs, I changed to v2.2.0 and I am running the playbook right now.

[2017-03-22 02:08] rmarcand commented on #124
Hello tima, worked as expected :) I deleted everything and recreated from scratch using v2.2.0. Thank you!

[2017-03-24 03:07] tima commented on #124
Great. Closing.

[2017-03-28 16:33] samdoran commented on #112
Issue persists with 2.2.2.0.

[2017-04-03 16:49] tima opened #125 "Presenter view gives a 500 forbidden error"
The (presenter) notes plugin in reveal.js uses an HTML page. Apparently HTML pages are blocked from being served from the CDN we are using. Need to figure out the work around.

[2017-04-03 17:37] tima commented on #125
https://github.com/hakimel/reveal.js/issues/1662

It appears that cdnjs does not support HTML pages and the notes plugin in reveal.js requires the notes.html to be next to the notes.js file. May be forced to fork that plugin and ship it with ours decks until it's resolved.

[2017-04-04 20:58] tima commented on #125
I just pushed dba6e32 that a temporarily fixes this issue until something better comes along. Leaving this open as reminder to track this.

[2017-04-07 19:25] #118 closed

[2017-04-07 19:56] tima commented on #89
Thanks for the report. With the "v2" release of lightbulb this example has been retired and removed from the repo. Closing this out.

[2017-04-07 19:56] #89 closed

[2017-04-08 21:02] tima opened #126 "Revise and enhance Intro to Tower deck speaker notes."
The Introduction to Tower deck speaker notes are incomplete and/or lacking in many spots. They need notes that can be used as documentation and as a script to the contents of each slide similar to what's been done in the core essentials deck.

[2017-04-08 21:05] tima opened #127 "Add Essential Best Practices deck"
A version of the Essential Best Practices deck that I (tima) have been using should be converted to reveal.js format and added to the Lightbulb repo. It should be complete with speaker notes that act as documentation, reference and script for the content of each slide.

[2017-04-19 17:32] jvanpelt commented on #119
Fixed [here](https://github.com/ansible/lightbulb/commit/301054549b9ff13ceb2f6ccafbfec797638de968)

[2017-04-19 19:16] tima commented on #119
Thanks @jvanpelt. I'm going to close this. I have other things I'd liked to improve around the print stylesheet and making the presentation slides more reactive. I have had some issues with different (especially high) resolutions not looking quite right. I will file new issues once I can write something more specific down though.

[2017-04-19 19:16] #119 closed

[2017-04-19 20:24] gdykeman opened #130 "[WARNING]: Found both group and host with same name: control"
tools/aws_lab_setup/roles/manage_ec2_instance/templates/instances.txt.j2

Looks like the inventory format was changed to have control in the control group.  Might want to change the group to tower or something other than control to prevent the warning.  Although it's not a critical issue that prevents the workshop, might be better to not have it pop up.

[2017-04-20 00:17] tima commented on #130
What version of Ansible are you running? Or was this Tower?

[2017-05-08 20:55] tima opened #131 "Fix aggressive wrapping of lists in presentation decks."
The styling of bullet point lists (particularly the Tower deck) aggressively wrap longer lines and leave a lot of whitespace on the page unused. See screenshot below:

<img width="993" alt="screen shot 2017-05-08 at 4 46 08 pm" src="https://cloud.githubusercontent.com/assets/50353/25824813/9a127f26-340e-11e7-9850-e484ad6a581d.png">
----
<img width="1087" alt="screen shot 2017-04-24 at 1 39 55 pm"

[2017-05-16 22:01] tima opened #132 "Add scheduling and workflow slide to Intro to Tower deck."

[2017-05-23 19:17] tima opened #133 "Bring back async provisioning of ec2 instances."
See PR #111 for how this should be done.

[2017-05-23 21:51] jvanpelt commented on #131
I've committed a fix for this issue.

[2017-05-31 04:26] tima commented on #131
This seems fixed. Closing.

[2017-05-31 04:26] #131 closed

[2017-06-08 17:26] tima commented on #126
While there is always room for improvement, PR #135 addresses this sufficiently enough to close this ticket.

[2017-06-08 17:26] #126 closed

[2017-06-08 17:34] tima opened #136 "Create a playbook to create an inventory source in Tower and import a static lab inventory"
This playbook would be a utility students could run to get their static inventory into a newly installed Tower instance. This is to avoid taking the time and going thru the effort of setting up a dynamic inventory source and sharing a cloud account amongst the lab environments or going into tower-manage in the introduction to Tower content.

This playbook utility should live in `tools/`.

[2017-06-08 17:56] tima commented on #102
Closed by the merge of PR #134.

[2017-06-08 17:56] #102 closed

[2017-06-12 20:53] tima opened #138 "replace to ansible/ansible-examples with ansible/lightbulb/examples"
The ansible/ansible-examples is in serious need of a refresh. The lightbulb examples are shaping up a more up-to-date and relevant collection than ansible-examples. The idea here is to move the lightbulb examples to that repo and somehow (submodule? sync files thru the lab provisioner?) integrate them with the workshops and docs here in lightbulb.

Before this happens I think the following example

[2017-06-13 20:28] tima commented on #82
Looks like this can be closed now.

[2017-06-13 20:28] #82 closed

[2017-06-19 17:43] thaumos commented on #112
happens in 2.3.1 as well.

[2017-06-19 17:47] thaumos commented on #112
just installed devel branch and the issue happens there as well... yet we say the issue is resolved.  investigating

[2017-06-21 10:16] samdoran commented on #112
Fixed in https://github.com/ansible/ansible/pull/25880

[2017-06-28 03:06] tima opened #141 "[EPIC] Refactor Lab Provisioner"
The following are notes for refactoring the lab provisioner into something that address is many known bugs, feature requests and projected growth of the lightbulb lab provisioner.

## Lightbulb OS Support

* **control:** RHEL7 or CentOS7
* **nodes:** RHEL7, CentOS, Ubuntu (or Debian?) -- eventually Windows, VyOS

**NOTE:** This plan is currently missing an email feature. Also need to flesh out dat

[2017-06-28 17:40] tima commented on #88
Resolved by #140

[2017-06-28 17:40] #88 closed

[2017-07-03 18:30] tima opened #142 "Fix README and facilitator guide grammar and typos."
From an internal email message sent to me, the following documents several doc fixes needed:

===== README.md =====
- 'provisiover' should be 'provisioner'

- Examples
  - 'They are a complete Ansible playbooks' should be 'They are complete Ansible playbooks'
  - 'Some of the examples are serve as the solutions to the workshops.' should be 'Some of the examples serve as the solutions to the worksh

[2017-07-07 02:17] jlozadad commented on #108
is this going to be a seperate playbook for students desktops?

[2017-07-07 02:51] jlozadad commented on #101
I believe this has been fixed and can be closed.

[2017-07-10 16:52] #142 closed

[2017-07-10 16:53] #101 closed

[2017-07-11 01:28] jlozadad opened #150 "add ansible vault to ansible essentials slide"
is it possible to add ansible vault to the ansible essentials slide? was using this slide during a training session and was asked why it was it was not in the slides.

[2017-07-11 19:24] tima commented on #108
Closed by #148

[2017-07-11 19:24] #108 closed

[2017-07-11 19:29] tima commented on #150
This was intentional. There are a lot of things not in the decks because of time constraints and attempting to not overload students with too much information at one given time. `ansible-vault` serves a niche purpose (if you're using Tower or something like CyberArk there's no need for it) that it was deemed necessary for what the essentials deck is trying to do.

[2017-07-11 19:29] #150 closed

[2017-07-12 00:51] jlozadad commented on #117
this can be closed.

[2017-07-12 13:55] samdoran commented on #117
Wasn't sure if we wanted to add more ports or not.

[2017-07-12 13:55] #117 closed

[2017-07-13 00:06] tima commented on #117
Well I wanted to add 8080 and 8888 for once  #92 gets worked in, but closing this is fine for now.

[2017-07-13 15:00] samdoran commented on #85
Ansible installation was switched to `yum` to fix the problem in issue #73. Switching back to using `pip` needs to be tested more.

[2017-08-03 18:06] tima opened #159 "Create a print stylesheet optimized for generating hard copies or a PDF of the reveal.js slide decks."
Potential areas of exploration and improvement:

* Standard branded page header and footers
* Adjust type for printed matter rather than the screen
* Page numbers
* Extract links and display as footnotes

[2017-08-03 18:14] tima opened #160 "Upgrade decks from v3.4 to reveal.js v3.5"
All decks need to be manually tested in Google Chrome including generating a hard copy or PDF.

[2017-08-03 18:21] tima opened #161 "Enhance decks with new Reveal.js v3.5 features"
[Reveal.js v3.5](https://github.com/hakimel/reveal.js/releases/tag/3.5.0) has a few new and useful features that could be used to enhance the Lightbulb decks. Specifically:

* The speaker view can now provide pacing advice. ([More info here](https://github.com/hakimel/reveal.js#speaker-notes-clock-and-timers))
* Slide fragments can now hold their own speaker notes.

[2017-08-03 18:33] tima opened #162 "Publish optionally publish workshop assignments and solutions to a shared lab content server."
This would be a significant but useful enhancement to the lab provisioner tool for delivering lightbulb instruction to a group.

* The lab provisioner would spin up an instance the install and start a web server
* Using Jinja2, the provisioner would render each workshop assignment and solution to this server.
* Ideally the instructor would have controls to progressively reveal the workshop solutio

[2017-08-03 18:44] tima opened #163 "Add option to provisioner to enable server-side speaker notes served from the lab content server"
Give the instructor/lecture a provisioner option to [setup and run the speaker notes facility](https://github.com/hakimel/reveal.js#server-side-speaker-notes) in reveal.js using the lab content server from #162.

[2017-08-03 18:47] tima opened #164 "Provisioner setup of slide multiplexing."
Give the instructor/lecturer a provisioner option to [setup and enable this multiplexing facility](https://github.com/hakimel/reveal.js#multiplexing) in reveal.js using the lab content server from #162.

[2017-08-05 19:53] tima opened #165 "Ansible Tower Basic Setup Solution doc is a "work in progress.""
The solution to the Ansible Tower Basic Setup workshop, `facilitator/solutions/tower_basic_setup.md`, is incomplete.

For instance, it's missing explanatory and contextual text around the screenshots. It also seems to be missing steps at the end or anything for the extra credit assignment.

Also, one if the screenshots (1b) is appears broken when the markdown is rendered.

[2017-08-15 20:42] tima opened #167 "Make slides font, content and images more adaptive to the display resolution and content"
There are many instance at lower display resolutions (like the MacBook Pro default) where the content disappears off the screen or disappears in a code box because the default font is to large. Conversely, at high resolutions there are screen where there is copious amounts of whitespace and the content is hard to see. Being HTML and in a browser the +/- controls help to a degree but even that is l

[2017-08-15 21:14] tima commented on #167
Thanks for your help on this @jvanpelt. Here is what feedback I have on this at the time:

* Type face is too large overall at lower resolutions (See #167)
* Code examples need help to make them more readable by forcing less scrolling. I realize this is a tricky painful thing to resolve, alas it important to communicating the content.

### Slide 1: Title Screen

* Use Title case like other decks

[2017-08-21 16:53] thedoubl3j commented on #165
taking a look now. should have a PR sometime soon.

[2017-08-30 19:08] jlozadad opened #168 "possible to write a example to use windows modules?"
I know usually the work is done in linux but, I noticed sometimes folks will ask for windows examples.

[2017-09-06 00:31] tima commented on #168
It is definitely something we'd like to see (there is a vague mention of it in #138) and just haven't gotten around to it.

[2017-09-07 18:51] petebowden commented on #112
I was able to build the labs using ansible 2.3.2.0 and the master branch.

[2017-09-08 20:38] alberttwong opened #170 "Can we switch to another email provider other than Sendgrid?"
Sendgrid doesn't have a free plan monthly plan.   Maybe use Amazon SES (here's a larger list with free services - https://www.ventureharbour.com/transactional-email-service-best-mandrill-vs-sendgrid-vs-mailjet/)

[2017-09-08 21:52] alberttwong opened #171 "Problem with provisioning workshop environment"
I think I did everything right.

[code]
[code]

[2017-09-08 22:05] alberttwong commented on #171
I found out that I had another aws key in .bash_profile when I executed`ENV`

RE: https://github.com/ansible/ansible/issues/15215

[2017-09-08 22:05] #171 closed

[2017-09-08 22:29] alberttwong opened #173 "AWS provisioning doesn't work on us-west-2"
[code]

[2017-09-08 22:47] nbrew commented on #168
Did you have specific examples in mind? I'd have to look at the rest of lightbulb for how the linux examples are structured but might be willing to pursue this given some specific. I see #138 mentions nginx. Was the thought that these examples would be with Server in mind? (I've been doing a bit of Windows workstation/client provisioning lately and don't have Windows Server installs available.)

[2017-09-08 22:51] alberttwong commented on #170
blocker is that there isn't an ansible module.

[2017-09-08 23:20] jlozadad commented on #168
Just some basic ones. Create a user, install an application, use win_get_url. I was working with a customer and they wanted to see some quick ones. We tried to use the ones in ansible-examples but, they needed some changes. Its just a starting point to show others "hey we can do things in windows and here are a few."

[2017-09-09 01:02] tima commented on #170
Pull requests accepted on having an SES module. ;)

We discussed getting rid of sending any sort of email message as part of #141

[2017-09-09 01:04] tima commented on #173
Known issue. The provisioner only supports us-east-1 and us-west-1. It's a long story but #141 will address this so any AWS region can be easily supported.

[2017-09-12 13:48] victorock opened #177 "Extend Provisionner to Network Automation"
The current version don't cover any use cases related to network devices.

[2017-09-12 14:04] victorock commented on #177
For some particular reason .gitignore didn't ignore .vagrant.....

[2017-09-14 21:03] thedoubl3j commented on #165
PR open in regards to this issue and it can be found here. https://github.com/ansible/lightbulb/pull/179

[2017-09-18 19:37] tima commented on #165
Closing. Addressed by PR #179.

[2017-09-18 19:37] #165 closed

[2017-09-18 22:33] tima opened #180 "Create a "Network Automation Edition" of Ansible Essentials Deck and Workshops"
Network Automation is a fast growing use case for Ansible Automation. It is also notably different that the current linux server based content of the "original" essentials deck is not as relevant in this regard.

This issue proposes to create an edition of the Essentials lightbulb content that reuses as much content and concepts of the original offering and replaces network automation domain speci

[2017-09-18 22:48] tima opened #181 "Create a "Windows" Edition of Ansible Essentials Deck and Workshops"
Ansible does Windows. While the Ansible Core Engine and Ansible Tower cannot be run on Windows, it can be used to automate the deployment and configuration of Windows hosts with the exact same tools, language, and philosophy used for Linux hosts.

That said, working with Windows systems are fundamentally different that the current linux server based content of the "original" essentials deck is not

[2017-09-18 22:59] tima opened #182 "Create a tool for generating Lightbulb reveal.js decks"
As lightbulb grows and more decks are developed common shared slides while introducing new and domain specific others (see #127, #180 and #181 as examples), maintaining static decks will become increasingly difficult and laborious. As plain HTML generating decks using a something as simple as [jinja2-cli](https://github.com/mattrobenolt/jinja2-cli) to build and customize Lightbulb decks.

This iss

[2017-09-19 17:28] tima opened #184 "Need to clean up provisioner deprecation warnings for use with 2.4.0 (eventually)"
Ansible v2.4.0 deprecates the `include` directive and generates these messages when running the provisioner:

[code]

The refactor of the provisioner #141 should address these messages.

[2017-09-19 20:40] tima opened #185 "Support Azure for provisioning of lab environments"
The lab provisioner be more modular and allow for not only other/any AWS region, but other cloud providers (public and private) starting with Microsoft Azure. Given the borrowed natured of the current provisioner that was designed for a much more limited scope, this requires #141 to be completed first.

See #128 for an example of this pre-provisioner.

[2017-09-19 22:04] petebowden commented on #141
I'd be more than happy to help work on this migration, but I'm not sure where to begin? Have some of these tasks been completed in another fork?

[2017-09-21 15:24] gdykeman opened #186 "Decks - Ansible Essentials Typo"
Typo in
[code]

[2017-09-21 16:02] #186 closed

[2017-09-21 21:05] alberttwong opened #187 "When you run the aws script again, you get an issue with cloning the lightbulb project"
[code]

[2017-09-21 21:06] alberttwong commented on #187
Related to https://github.com/ansible/lightbulb/issues/109

[2017-09-21 21:06] #187 closed

[2017-09-23 02:32] alberttwong opened #189 "Problem with provisioning to us-east-1"
Works fine with us-west-1 (of course different vpc and vpc subnet).

[code]

[code]

[2017-09-23 03:37] kyleabenson commented on #189
Is your ec2-user key actually named “us-east-1”?

[2017-09-23 06:50] alberttwong opened #190 "Ran a workshop, multiple issues encountered. Will be submitting PRs"
1. Had 40 attendees, didn't realize that AWS puts limits on ec2 instances.   Need readme to make sure that instructors request a higher ec2 limit.

2. We had bring your own computer.  Workshop didn't make it clear that people need to be running osx or linux. Some people came to class with windows machines.  Maybe an email or prereqs for class to be updated.

3. Since people brought their own compu

[2017-09-23 07:19] alberttwong commented on #189
@kyleabenson I had the wrong key name in there.    Sorry for posting this issue.

[2017-09-23 07:19] #189 closed

[2017-09-23 20:39] tima commented on #190
@alberttwong

Your comments are generally out of scope for lightbulb here. Lightbulb provides content. Execution is a separate matter. I'd suggest you work more closely with the team that helped you run your workshop to learn how to better execute for the next time.

1) This is why we recommend keeping workshops to around 25 students. Any more becomes problematic to execute including the AWS issue

[2017-09-23 20:39] #190 closed

[2017-09-27 18:07] tima commented on #180
cc: @gdykeman @seanx820 @ismc

[2017-09-27 18:14] gdykeman commented on #180
Getting a bunch of feedback from the pilot week. Will update this very soon
while coordinating with @seanx820 @ismc

On Sep 27, 2017 8:07 PM, "Timothy Appnel" <notifications@github.com> wrote:

cc: @gdykeman <https://github.com/gdykeman> @seanx820
<https://github.com/seanx820> @ismc <https://github.com/ismc>

—
You are receiving this because you were mentioned.
Reply to this email directly, view i

[2017-09-27 18:17] tima commented on #162
The scope of this should be extended to cover the guided examples being discussed in #169.

[2017-09-27 18:42] tima commented on #112
I also was able to build a lab using 2.4.0. Closing this ticket as resolved.

[2017-09-27 18:42] #112 closed

[2017-09-27 18:59] tima opened #194 "Create/refactor lightbulb-common-linux role for provisioner"
This is part of the refactor of the lab provisioner to create a more flexible lab provisioner to handle the expanding scope of lightbulb content. (See #141)

### lightbulb-common-linux

WAS: `roles/common`

**NOTE:** With limiting support to RHEL7/CentOS7 OS specific variables are partially eliminated and what remains (sshd service name) can be in a variable dict that can be looked up by `ansible_

[2017-09-27 19:01] tima opened #195 "Create/refactor lightbulb-control and lightbulb-instructor roles for provisioner"
This is part of the refactor of the lab provisioner to create a more flexible lab provisioner to handle the expanding scope of lightbulb content. (See #141)

### lightbulb-control

WAS: `roles/control_node`

**NOTE:** RHEL7/CentOS7 only here

1. install and enable EPEL repos
2. install base packages
    * vim
    * git
    * wget **[NEW]**
    * sshpass
3. install ansible
    * _pip or yum? needs

[2017-09-27 19:08] tima opened #196 "Create/refactor lightbulb-provisioner-aws role for provisioner"
This is part of the refactor of the lab provisioner to create a more flexible lab provisioner to handle the expanding scope of lightbulb content. (See #141)

### lightbulb-provisioner-aws

WAS: `roles/manage_ec2_instances`

See `examples/cloud-aws/provision.yml` for reference.

**NOTE:** This role used to handle create and destroy in one task file. Using v2.3 and `include_role` the destroy/teardow

[2017-09-27 19:12] tima opened #197 "Create/port lightbulb-provisioner-azure role for provisioner"
This is part of the refactor of the lab provisioner to create a more flexible lab provisioner to handle the expanding scope of lightbulb content. (See #141)

This would be a port of #196 but using the Azure module in v2.4 to provision lab machines in Azure.

Related to #185.

[2017-09-27 19:25] tima opened #198 "Devise lab provisioner layout data structure for new provisioner."
This is part of the refactor of the lab provisioner to create a more flexible lab provisioner to handle the expanding scope of lightbulb content. (See #141)

**NOTE:** This is a WIP still subject to change. It is also a dependency of #196 and ultimately #197.

## Lab Layouts

Issue here: https://github.com/ansible/lightbulb/issues/83

TBD: How to support CentOS AND RHEL here? [Different layouts](h

[2017-09-27 19:27] tima commented on #198
In the above layout, instead of embedding AMIs for each region use an AMI find search string instead? Thinking yes -- what needs to be define in order for that to work?

[2017-09-27 19:38] tima commented on #198
I should also mention some part of this needs to be usable by the #197 and also #180/#177.

[2017-09-29 00:25] kyleabenson commented on #170
@alberttwong as an FYI, Sendgrid offers 100 free emails a day as part of their free trial. So if you sign up, after the trial you can continue to send 100 emails a day without charge.
https://sendgrid.com/pricing/

[2017-09-29 00:36] kyleabenson commented on #130
This might have been discussed/clarified already, but I get the same notice.

Having the provisioner change the host alias to something like node-control to follow the node-[1:3] schema would get rid of this notice.

Using running from the cli with the following settings:

[kbenson@control ~]$ ansible --version
ansible 2.3.1.0
  config file = /home/kbenson/.ansible.cfg
  configured module search p

[2017-10-02 16:29] alberttwong commented on #170
@kyleabenson I signed up just for the month but the plan is to have more ansible workshops.   It would be great have more a pay as you use as opposed to a subscription.

[2017-10-03 11:33] gdykeman opened #202 "The Ansible community RPM package will transition from the EPEL repository to the Extras channel"
Need to enable rhel-7-server-extras-rpms to install ansible during provisioning.
Which also means... that we need to subscribe the boxes too...

[2017-10-03 17:52] tima commented on #202
Related to #85/#151 meaning we could get around this problems by switching back to pip.

[2017-10-03 18:21] tima commented on #198
I went back over my original thoughts and have some thought to roughly what #197 will need and came up with this. Feedback appreciated:

[code]

I still have a couple of things I'm not sure about here:

* Should the cloud providers be nested under a key? If so what? "cloud" seems most obvious, but we need to consider other potential platforms such as openstack or vmware or openshift being introduc

[2017-10-03 18:56] gdykeman commented on #170
What I found easier was to create generic accounts, for example:
student1 - 20 for example...

And either have that up in gist.github for example or have that available during the workshop and assign students the approrpiate student(x) node.  Often saw students not having received e-mails, walk-ins, etc. so it makes it easier to control.

So, in roles/email/defaults/main.yml
email: no

The sendgri

[2017-10-04 16:02] samdoran commented on #198
Yes, we should use `ec2_ami_find` rather than hard coding IDs.

The idea I had for lab topologies is you would specify a cloud platform and a lab topology name. Those two keys would provide everything needed to provision the environments.

In its current state, we have two layers of abstraction: one allows you to list out the nodes in a topology and their name, and those values are used to look up

[2017-10-04 23:35] tima commented on #198
Not sure @samdoran. I agree with separating things and even optimizing later, but I don't want to repeat this exercise again when there's a pretty good indication of what the needs are now and in the near future. The needs for the refactor are being partially driven by the cloud provisioning tasks.

We definitely need to be somewhat flexible to other layouts/topologies with some of the other conte

[2017-10-05 02:59] nicholas-chia opened #204 "boto3 required for running"
ansible engine v2.4
rhel7.4

boto3 required. Just do a pip install boto3 to resolve issue.

The full traceback is:
  File "/tmp/ansible_hveeDb/ansible_module_ec2_group.py", line 279, in <module>
    import botocore

fatal: [localhost]: FAILED! => {
    "changed": false,
    "failed": true,
    "invocation": {
        "module_args": {
            "aws_access_key": null,
            "aws_secret_key"

[2017-10-05 18:03] tima commented on #180
Work on this has begun and it being tracked via #201.

[2017-10-05 18:28] tima commented on #204
OK. I suppose this is an omission of the docs. Without checking I'm going to guess the ec2_group module was modified to use the new client library as opposed to the legacy one. Will be thru a PR shortly.

[2017-10-05 20:36] #204 closed

[2017-10-05 21:09] #202 closed

[2017-10-05 21:13] tima commented on #202
Thanks @gdykeman. I did a cherry-pick of the commit that contained this fix. It also had a change to the inventory path on the controller. Hope that was intentional.

[2017-10-05 21:19] gdykeman commented on #202
@tima Ty! Change to inventory path was intentional as there is a current
bug with reading a directory for the inventory rather than full path to a
specific inventory file.

On Oct 5, 2017 5:13 PM, "Timothy Appnel" <notifications@github.com> wrote:

[2017-10-05 21:25] #136 closed

[2017-10-05 21:42] tima commented on #130
Yeah this probably wasn't the best choice even when it was made way back when. We should probably rename the node "ansible" (not all forms use Tower) and leave the group as "control". I think that should cause the least amount of disruption.

Thoughts? Someone want to put together a PR?

[2017-10-07 15:17] petebowden commented on #198
@tima do you have this work in a branch somewhere? I'd like to pull it and poke around. Could you push it up?

[2017-10-07 21:40] tima commented on #198
@petebowden: I made [a public gist in my account here](https://gist.github.com/tima/6937100f2e4d069145f5b8a805eb3f1b) for you to poke at.

[2017-10-14 03:14] petebowden commented on #198
@tima @samdoran

Thinking about this from a roles perspective, I think we need to have a role per provider. Let each cloud provider be responsible for knowing how to create the requested resource. This makes maintenance of each provider independent of the rest of the project, while providing a common interface that each must provider must adhere to.

I like the idea of being able to call a single

[2017-10-18 18:17] #130 closed

[2017-10-18 18:48] tima commented on #198
Thanks for your thoughts on this @petebowden.  A few of comments...

I agree with one roles per cloud provider. that is exactly what I'm refactoring the provisioner for. I was too locked in to the way the provisioner is arranged now and should have split cloud provider info (vars) into separate files that would live in the roles. Good catch.

Like the idea in theory though I'm not sure if will be

[2017-10-18 19:26] tima commented on #198
@petebowden I revised my gist of an example cloud provider role layout.

https://gist.github.com/tima/6937100f2e4d069145f5b8a805eb3f1b

Taking a step back from that and thinking outloud here I have a few questions and concerns:

1. Should "lab layouts" (open to changing that term) live outside of a cloud provider in a "common" role?
2. If yes to 1, how would a user add their own layout?
3. I took

[2017-10-18 20:23] tima commented on #198
I had a chat offline on this one. (I swear I'm not talking to myself.)

I'm thinking the embedded machines and  layouts should be specific by provider and prefixed (best practices!) accordingly.  That way a user needing something different can override just the lightbulb_lab_layouts dictionary and reuse the embedded machine definitions or vice versa or override them both via extra vars for somethi

[2017-10-18 20:39] tima commented on #198
The gist has been updated based on the above: https://gist.github.com/tima/6937100f2e4d069145f5b8a805eb3f1b

[2017-10-23 03:58] jduncan-rva opened #216 "username variable issues with ansible > 2.2.0.0"
The following task in manage_ec2_instances/tasks/create.yml:

[code]

It looks like this regex fails on any newer version of ansible, this causes the user group and user tasks to fail later.

Can we refactor this to work with newer versions, 2.2.2.0 which is required for the OpenShift installer.

[2017-10-23 21:51] tima commented on #216
What version are you running and what is the error? Is it this one: https://github.com/ansible/lightbulb/issues/112?

[2017-10-23 21:53] tima commented on #198
Last call... anything else to add @petebowden or @IPvSean?

[2017-10-24 06:16] petebowden commented on #198
@tima Still thinking about this one. Traveling this week.

How are we including the different providers? I'd like the ability to allow a user to ask for hosts to be provisioned or to provide their own hosts, should they already have them built.

How do we define different labs? e.g. networking would require different setups compared to the normal intro to tower.

[2017-10-24 19:10] tima commented on #198
Understood @petebowden.

Each provider would be it's own role doing approximately the same thing for their respective environment. The other roles we create for the provisioner tool should work regardless of provider. OS is a different matter which is why I want to limit them as much a possible -- i.e. CentOS7 and RHEL7 for linux servers.

I'm not sure we should concern ourselves with the latter c

[2017-10-26 17:38] jduncan-rva commented on #216
Gerald set me straight. I was using 2.2.2.0 (OpenShift installer dependency). When I hit the error I downgraded because I knew it would work. Gerald informed me 2.4 is solid now.

sorry for the confusion.

[2017-10-26 17:38] #216 closed

[2017-10-26 23:15] tima commented on #216
@jduncan-rva: Glad you got that sorted out. Yeah we got bit by a core engine bug where setting a fact using delegation broke when they were fixing a CVE in 2.2.1. It was finally fixed in 2.3.2.

[2017-10-27 19:34] tima opened #219 "Install nano on the ansible control machines in labs"
It's been reported that some students haven't used vim (gasp!) and struggle with using it for hands on exercises. These students are typically Windows administrators used to GUI editors. It has been suggested that nano would be an easier option to try.

NOTE: This would not replace vim, just provide an option.

[2017-10-27 19:41] tima opened #220 "Host rendered lightbulb content so it is more easily viewed and navigated."
The lightbulb repo houses various bits of content such as workshops assignments, guides that are in markdown format in addition to slide decks in Reveal.js HTML. The view in the repo is suboptimal and is hard to navigate. Pulling down the content and manually building it to view in a browser requires too much effort. This issue aims to resolve that by automation the rendering and publishing of the

[2017-10-27 19:49] tima opened #221 "Add speaker notes to Ansible Tower new feature tour slides"
PR #200 added an optional new feature tour to the Intro to Tower deck; however, those slides went in without speaker notes. This issue is make that happen.

[2017-10-27 20:24] ismc commented on #198
You are encoding the names of the providers into the label int he data structure.  That makes it hard to be agnostic.  The network provisioner does more as @samdoran suggests with a spec file that specifies the provider and a template.  You can deploy the same template across multiple clouds.  Your data structure also lacks networks, subnets, routers, VPNs, etc.  It seems to assume that everything

[2017-10-30 17:24] ismc commented on #198
@tima, you misunderstood (or I miscommunicated).  Your data model was too specific.  I am all for roles, I use them heavily in the network workshop provisioner.  As soon as you put all of the data in a data model that is opinionated to a cloud, however, you have hard coded that cloud.  I took the route of a cloud-agnostic data model and a set of roles that translate that data model to the appropri

[2017-11-06 16:34] dswhitley opened #224 "Slide deck wording does not align with the example that follows"
The text on slide 33 of the ansible-essentials.html deck states:

But the example on the following slide (34) shows a handler utilized on the task that installs a package.

The example would make more sense in relation to the prior slide if the `notify` was in the "copy" task:

[code]

Additionally, the `package` module could be used in place of `yum` but that is purely personal preference.

[2017-11-06 17:03] dswhitley commented on #224
I find that it is easy enough to change the html file, but I have to wonder if that is actually generated from something else and if I should instead update the source of the file..?

[2017-11-06 17:59] tima commented on #224
@dswhitley: Thanks for that observation.

Slide 33 wasn't meant to be that direct of a connection to what's on 34, but I suppose it could. That example is a copy of one that's in `examples/`. I'd prefer not to change that unless necessary since it has repercussions beyond that slide. I'd just assume we rephrase what's on 33 to something like "If a package get's installed or updated notify a servic

[2017-11-09 19:01] #219 closed

[2017-11-09 19:07] #224 closed

[2017-11-14 16:06] IPvSean opened #229 "Review Merge Pull Request 228"
Need another setup of eyes on 227/228 Pull request.  This automates build-up of a topology for the instructor-led workshop on AWS.  However if you are manually creating key-pairs and VPCs you can still over-ride it (meaning if you are using current lightbulb, there is no difference to behavior today).  Would love someone to test this out.
https://github.com/ansible/lightbulb/pull/228

[2017-11-15 12:31] kyleabenson opened #230 "Consider adding Red Hat Insights integration as a Tower optional workshop"
Showcasing the integration between Ansible Tower and Red Hat Insights as an optional workshop for Tower could be a nice way to highlight a few things including:

- A different type of SCM within Tower
- How we're investing time in user experiences and expanding Tower's impact with other RH products

Probably the biggest caveat would be that the demonstrator or user would need a BYO Insights subscr

[2017-11-16 15:45] tima commented on #229
Noted. Will track the need to do this thru the PR.

[2017-11-16 15:45] #229 closed

[2017-11-17 15:11] petebowden opened #231 "Add shellinabox integration"
We should add the ability to deploy a shellinabox [1] server or set of servers so users that have SSH/22 blocked on their laptops can still run the workshop.

[1] https://github.com/shellinabox/shellinabox

[2017-11-20 20:02] tima commented on #230
I'm certainly open to this idea and have been in contact with some of the Insights people. The biggest caveat wouldn't be the BYO Insights subscription though, it would be providing an eval subscription for the students and self-paced learner to use in addition to lab instances with existing problems Insights will pickup.

[2017-11-21 16:04] IPvSean commented on #198
@tima

This is the layout I came to the conclusion from to match lightbulb but add the networking mode
(here is an example of creating vpc)
[code]

this is just one task.  The alternate way I was thinking is there would be a block for essentials (non-networking) and a block for networking with a when statement for each.  I think that might be more confusing for someone reading it... what do you th

[2017-11-21 16:06] IPvSean commented on #198
I guess a third way would be to include_task....

[2017-11-21 20:28] dswhitley opened #232 "modify .vimrc on control node to help view hidden characters"
During workshops, a lot of time is spent troubleshooting YAML files.  This might be easier if hidden characters are visible in vim.  A `.vimrc` file is already being populated on the control node from `lightbulb/tools/aws_lab_setup/roles/control_node/templates/vimrc.j2` which seems to be an appropriate place to add this..?

Also, there is nothing node-specific in this template, so should/could it

[2017-11-21 20:39] dswhitley commented on #232
This can be achieved by adding:
[code]
to `lightbulb/tools/aws_lab_setup/roles/control_node/templates/vimrc.j2` and then instructing the users that they can view hidden characters by typing `:set list` in vim on their control node.

[2017-11-21 20:53] dswhitley opened #233 "slide navigation changes on slide 43 in ansible-essentials.html"
Prior to the "Doing More with Playbooks" slide (43), most slides are progressed logically to the right.  However, in order to view the slides associated with this section, the presenter must navigate "down".

If this is not by design, I believe it is due to an extra `<section>` on line 892:  https://github.com/ansible/lightbulb/blob/10fa443916396445f0c9044208951349772a1f06/decks/ansible-essentials

[2017-11-21 21:09] tima commented on #233
It's by design.

[2017-11-21 21:09] #233 closed

[2017-11-21 21:30] dswhitley opened #234 "ec2 instances are provisioned synchronously"
When provisioning the instances required for a workshop, the provisioning of the ec2 instances is the most time consuming part of the playbook.

The `ec2` task in the [manage_ec2_instances](https://github.com/ansible/lightbulb/tree/master/tools/aws_lab_setup/roles/manage_ec2_instances) role is currently performed synchronously.  Could it be modified to behave [asynchronously](http://docs.ansible.c

[2017-11-21 21:34] IPvSean commented on #234
@tima can you assign to me, I am working on this on https://github.com/network-automation/lightbulb/

[2017-11-21 21:38] IPvSean commented on #232
@dswhitley can you attach a screenshot or link to something so I can see what I am supposed to be seeing, I added this and didn't notice anything right away

Yeah but we are already using templates, so we would need a files directory and if we ever did use a variable or jinja2 we would have to flip it back.  I don't see an advantage right now in moving it around

[2017-11-21 21:38] IPvSean commented on #231
@tima can you assign to me?  I need to do this for the networking workshop anyway

[2017-11-21 21:39] IPvSean commented on #220
@tima this is done on network-automation/lightbulb, can you assign this issue to both of us and we can sync on it

[2017-11-21 21:40] IPvSean commented on #177
@tima can you assign to me

[2017-11-21 21:42] dswhitley commented on #232
I will see if I can show this better but in the meantime, did you execute the `:set list` after modifying the `.vimrc` file?

I wonder if this is dependant on the version of vim..?

[2017-11-21 21:56] dswhitley commented on #232
The special characters are easily modified (as specified in the .vimrc file), but here is a snippet of what it looks like as defined above:
[code]
My thought was that it would be configured on the control node, but not called out in the presentation.  That way it wouldn't always be in the customers face, but if they ask for help troubleshooting their playbooks, we could inform them to "type `:set

[2017-11-21 22:29] tima commented on #234
This is a duplicate of #133.

[2017-11-21 22:29] #234 closed

[2017-11-21 22:41] tima commented on #232
Like the other ansible projects we use the [gitflow](https://www.atlassian.com/git/tutorials/comparing-workflows/gitflow-workflow) workflow. Clone from lightbulb to your personal account (or rebase if you have one). Clone to your workspace. Create feature branch, make your changes, add/commit, push to your github repo then issue a PR to lightbulb from there.

Also, we now support nano now. Would b

[2017-11-21 23:11] tima commented on #177
@IPvSean I'll assign to you though this ticket is tied to @victorock's PR in addition to yours and my related ones.

[2017-11-21 23:18] tima commented on #231
Thanks for the offer. I would like to discuss this one before trying to implement something here.

[2017-11-21 23:19] tima commented on #220
Done @IPvSean. We need to coordinate with @jvanpelt on this also.

[2017-12-06 04:11] tima commented on #132
Closing. This was done some time ago and committed to master.

[2017-12-06 04:11] #132 closed

[2017-12-11 16:52] dswhitley commented on #232
The `listchars` setting I recommended above will not work with the version of vim installed on the control node (7.4.160).  In fact, the hugely important `space:` item is not available to `listchars` until vim version **[7.4.710](https://github.com/vim/vim/commit/79278367337be1e9a12222698642dcce0af1e059#diff-9314fb84f930a1648810c882e8247e6f)**.  The latest version of vim available to RHEL7 is 7.4.

[2017-12-11 17:36] dswhitley commented on #232
@tima inserting a character for whitespaces in nano can be accomplished by:

1. Copying a `.nanorc` file to student's home directory consisting of:  `set whitespace "»·"`
2. Instructing student to "type `Alt-P`" while editing a file with nano *(`Alt` is the default "Meta" key in nano but a student could have changed this...)*

That will result in the following:

[code]

I'm happy add this file as

[2017-12-11 22:12] tima commented on #90
Each student should apply for a 5-day 5-node trial license here: https://www.ansible.com/workshop-license. License files is delivered to their inbox usually in 1 to 2 minutes.

[2017-12-11 22:12] #90 closed

[2017-12-11 22:18] tima commented on #160
v3.6 has been released since this ticket was created.

[2017-12-11 22:20] tima commented on #161
Reveal v3.6 has been released since this ticket was filed. I don't have any new features from that release to apply here at this time.

[2017-12-14 17:58] dswhitley opened #242 "wrong link in aws_lab_setup README"
The [aws_lab_setup](https://github.com/ansible/lightbulb/blob/master/tools/aws_lab_setup/README.md) README.md file, in step 3, reads "Access Key ID and Secret Access Key" yet the link directs to http://docs.aws.amazon.com/AWSSimpleQueueService/latest/SQSGettingStartedGuide/AWSCredentials.html which does not match the wording.

[2017-12-14 18:19] dswhitley commented on #242
If **NOT** using IAM, then should the link point here:  http://docs.aws.amazon.com/general/latest/gr/managing-aws-access-keys.html

However, that page recommends using IAM, and that link would be:  http://docs.aws.amazon.com/IAM/latest/UserGuide/id_credentials_access-keys.html

[2017-12-15 15:18] rubbsdecvik commented on #231
Might I suggest [cockpit](http://cockpit-project.org/)?

[2017-12-15 20:07] petebowden commented on #231
@rubbsdecvik That's not a bad idea. Might be more work than integrating shellinabox....

I'd like to note that @lwhitty used shellinabox at a site that blocked 22/SSH, with limited success. Users were initially able to access the terminal but some additional security software eventually blocked the site completely (our guess is a layer 7 security tool that was looking for the shellinabox code). I

[2018-01-05 14:39] IPvSean commented on #220
@jvanpelt if you want to review what we have worked on, its here: https://network-automation.github.io/lightbulb/

@liquidat has been really helpful in converting workshops exercises from http://ansible.redhatgov.io/standard/welcome/index.html as well

This is using a technology called [Github Pages](https://pages.github.com/) (jekyll under the covers).  It can convert pretty HTML pages like the R

[2018-01-12 01:45] tima commented on #242
Fixed by #245

[2018-01-12 01:45] #242 closed

[2018-01-26 16:41] tima commented on #231
Sorry just happening upon these comments now.

@petebowden: This is why I want to step carefully on saying we support such closed network scenarios with our provisioner. My suggestion to anyone attempting to do a workshop off of this lightbulb material is that they do their homework and check and then double check they will be able to access the lab (thru port 22 or wetty or shellinabox or whateve

[2018-01-26 16:43] tima commented on #232
@dswhitley If it's not too much trouble, why not submit a PR and we can discuss there? I don't think this issue is going to go any further without that.

[2018-01-27 18:05] tima opened #255 "Vagrantfile: The "ansible" node has no way of connecting the "web" nodes without manually installing the ssh key."
Testing #239 using the current Vagrantfile I was unable to connect to the nodes in my lab without manually copying and configuring the use of the insecure_private_key file. We need to make this easier by installing the private key on the ansible node and providing an static inventory file that uses it.

[2018-01-27 18:21] tima opened #256 "apache and nginx examples will fail on successive run if you change the webserver port."
Testing #239 I noticed that successive runs of the apache and nginx basic and role examples where you are switching the web server port will fail at the smoke test because the restart handler hasn't executed yet for the web server to have switched ports.

One approach would be to restructure the examples. In the "basic playbook" examples you'd do the smoke test in a secondary play in the playbook.

[2018-01-30 13:28] webknjaz opened #258 "Serve decks via gh-pages"
Hi,

It might be a good idea to host slides online. One way of doing this is to push html/static contents to gh-pages and let GitHub serve the static.

This can be automated using [Pages Deployment Provider @ Travis](https://docs.travis-ci.com/user/deployment/pages/).

Plz let me know if you'd like to have some help with this.

[2018-01-30 13:31] IPvSean commented on #258
We are in the process of doing this already.  You can actually see my setup of this hosted on https://ansible.com/net-lightbulb

[2018-01-30 13:32] webknjaz commented on #258
Would you please refer it in README?

[2018-01-30 13:36] thedoubl3j commented on #258
most definitely @webknjaz

[2018-01-30 21:45] tima commented on #258
This is a duplicate of #220 and as already noted this is under way with @jvanpelt leading that for us.

[2018-01-30 21:45] #258 closed

[2018-01-31 18:00] tima opened #260 "Clean up generic playbook titles like "This is a play within a playbook""
Some of the examples use generic nonsense titles such as "This is a play within a playbook". This does not follow the best practice of being brief, human-meaningful and descriptive. These playbooks and the any associated docs (decks, guides etc if any) need to be updated to correct this.

Some (perhaps all?) files where I have noted this:

* examples/apache-basic-playbook/site.yml
* examples/apach

[2018-02-02 05:16] #260 closed

[2018-02-05 22:14] dfederlein commented on #255
Currently this is fine for the Vagrant file, however we may need to add a conditional task to provision ssh keys to the remote hosts that contain both the vagrant insecure key and the keys provided by the person provisioning.

This line is relevant:

  cluster.vm.box = "centos/7"
  cluster.ssh.insert_key = false
  # Don't install your own key (you might not have it)
# Use this: $HOME/.vagrant.d/in

[2018-02-05 22:28] dfederlein commented on #255
I'll have more on whether I'm right in this after I test tomorrow.

[2018-02-06 10:16] tima commented on #255
Not sure I'm totally following you @dfederlein. Let me recap and see.

So you are suggesting that we keep cluster.ssh.insert_key as false and then run an ansible playbook that installs the private key on the controller? Glancing at the `site.yml` and the vagrant-common role in your example implementation it installs the public keys on every VM but not the private key on the controller so it can ea

[2018-02-06 11:00] tima opened #263 "Adapt Ansible Tower resources to include AWX."
In making this a community resource we need to support those using lightbulb to learn and use AWX.

This tentatively means (and is not a complete list):

* Adding caveats and extra slides and speaker notes in the Intro to Tower deck
* Create new or caveat the Tower workshops exercises
* Create a separate page for installing AWX in the Tower guide (#260) or perhaps they are different enough to have

[2018-02-06 21:09] dfederlein commented on #255
Cluster.ssh.insert_key does not handle the private key.  it only places the public key.  The issue is that we do not provision the private key at all.

[2018-02-06 21:12] tima commented on #255
weird. i thought the previous Vagrantfile did have the private key that is just worked after your node are provisioned.

[2018-02-06 21:15] dfederlein commented on #255
I don't have the history, but at one point with Vagrant in lightbulb we did place the private key if the host provisioned was in a tower group.  That may not be there now.

I can create a PR for this soon,  but it's private key placement we need to solve.  That's easy enough.

[2018-02-06 21:17] dfederlein commented on #255
BTW I think this was lost when we back in 2015 ripped vagrant out for AWS heavy focus on the teaching labs.

[2018-02-06 21:25] tima commented on #255
Yeah I must be having a senior moment on this one.

Going thru the history this is the first one that mentions private keys.

https://github.com/ansible/lightbulb/commit/1fd9692b840f47ddb03086043dbdb33fd55d9c9e#diff-23b6f443c01ea2efcb4f36eedfea9089

[2018-02-06 21:27] dfederlein commented on #255
That looks like we wanted to keep with the insecure vagrant private key, which means we set that so that the public key was in place, but Vagrant sort of assumes you have that private key added.  It doesn't add the private key itself, to my knowledge.  So we just need to add in a provisioner task based on vagrant group membership that places the private key as needed.

Two places: 1) at CLI for va

[2018-02-06 21:45] tima commented on #255
I'm an idiot that should have his BASH prompt revoked. I figured it out. I don't think you have to do anything but not be an idiot like me.

[2018-02-06 21:45] #255 closed

[2018-02-06 21:45] dfederlein commented on #255
LOL!!! Ok let me know if you need me to prototype anything from my demo to lightbulb and do a PR.

[2018-02-13 22:53] tima commented on #85
As noted in #151, installing with pip causes problems if you are going to install Tower later on the same box. Closing this out.

[2018-02-13 22:53] #85 closed

[2018-02-14 17:12] nsabine opened #271 "Mismatch in handler names in common role."
The notify: in roles/common/tasks/main.yml and roles/common/tasks/RedHat.yml do not match the handler names in roles/common/handlers/main.yml.

[2018-02-14 17:56] tima commented on #271
Nice catch @nsabine. Not sure how this happened.

[2018-02-14 18:47] #92 closed

[2018-02-14 19:26] #271 closed

[2018-02-14 23:18] bbaassssiiee opened #275 "Create a box with Packer"
Ansible can be used with Packer to create base images to run on various platforms like VirtualBox, AWS, Azure, VMWare, to name a few.

The lightbulb project needs a centos image with some sugar on top. Packages like Ansible, vim, nano, etc.

We can create a box tailored for this usage and store it in the cloud.

[2018-02-15 23:19] tima opened #277 "Enabled the EPEL repo on all of the nodes in the Vagrantfile."
A number of the exercises uses packages in the EPEL repo. As a convenience, all of the nodes should have that repository enabled while bootstrapping to eliminate one more manual step and any confusion that could arise from missing that step.

[2018-02-16 00:16] tima opened #278 "Suggest using yum to install Ansible throughout all of the content."
Using pip is fine if you're only going to use Ansible engine on a box, however; this will conflict with any installation of Ansible Tower or AWX on the same server and should be avoided. We need to make that clear by suggesting `yum` and placing appropriate caveats to why they don't want to use `pip`.

[2018-02-16 00:18] tima commented on #278
Relates to #85 and #151.

[2018-02-16 00:34] tima opened #279 "Implement an haproxy box in the Vagrantfile"
In order to support rolling update examples like #158, the Vagrantfile needs an haproxy machine. It used to at one point:

[code]

In addition this node should be added to the static inventory file in it's own group.

Dependent on #268 getting merged.

[2018-02-16 00:40] tima opened #280 "Implement an Ubuntu box in the Vagrantfile"
In order to support multi-os examples, the Vagrantfile needs a Ubuntu machine. It used to at one point:

[code]

Dependent on #268 getting merged.

[2018-02-16 16:01] webknjaz opened #281 "Additional YAML doc when mentioning it in workshops"
This one is good for quick start: https://learnxinyminutes.com/docs/yaml/

[2018-02-16 16:20] webknjaz opened #282 "Nginx workshop missing instruction to enable corresponding repo"
Either
[code]

or
[code]

in playbook

[2018-02-16 16:36] tima commented on #282
This is a duplicate of #277.

In the other provisioners we've used EPEL as it gives us more options and flexibility to.

[2018-02-16 16:36] #282 closed

[2018-02-16 16:52] tima commented on #281
During a community presentation of this content @dagwieers suggested we also add links to the Wikipedia YAML page: https://en.wikipedia.org/wiki/YAML

[2018-02-16 17:31] tima opened #283 "Move Vagrantfile to tools/vagrant-linux folder."
The `Vagrantfile` is currently in the root and a bit out of place there. It along with any related docs, but better located under the tools folder and labelled as being for linux system administration purposes. (Eventually we will need to address other setups like a Windows lab environment.)

[2018-02-16 17:36] webknjaz opened #284 "Broken link in guides"
In [this readme](https://github.com/ansible/lightbulb/tree/master/guides/ansible_engine#ansible-engine-exercises) link to `Exercise 4 - Roles: Making your playbooks reusable` points to non-existing folder `4-roles`, while the correct name is `4-role`.

Same errors are present at https://network-automation.github.io/lightbulb/workshops/ansible_engine/:
- `https://network-automation.github.io/lightb

[2018-02-16 17:41] tima commented on #284
Thanks @webknjaz. We'll look into correcting that or feel free to submit a PR yourself that references this issue.

[2018-02-16 18:18] dagwieers commented on #281
I really like the Wikipedia example as it is pretty straightforward and it gives 2 separate examples for the use of YAML that are easy to understand. One is for LASIK eye surgery (YAML describes a workflow for instructing the equipment, much like what a playbook does), whereas the other is a simple invoice for a shop.

So while YAML simply describes data-structures, how it is applied is up to the

[2018-02-16 18:54] webknjaz opened #287 "Drop wsgi from nginx-basic-playbook example"
This example shows how to set up a web-server serving static, it does nothing with WSGI (except for installing `uwsgi`, which doesn't make sense)

Ref: https://github.com/ansible/lightbulb/blame/master/examples/nginx-basic-playbook/site.yml#L3

[2018-02-16 19:03] tima commented on #287
True, but it was there to show a loop and for future use in content we've not gotten around to developing. That example is the solution to one of the hands-on `workshops` also.

[2018-02-16 19:03] #287 closed

[2018-02-19 17:07] #284 closed

[2018-02-24 22:38] jlozadad commented on #275
would it helpful if we use the ones in https://github.com/chef/bento or start from scratch?

[2018-02-24 22:42] jlozadad commented on #277
do we want to add ansible in the vagrant file like how https://github.com/dfederlein/ansible-tower-demo/blob/master/Vagrantfile has it?

[2018-02-26 14:37] webknjaz opened #289 "Missing pieces of puzzle in Tower configuration guide: no inventory for self-learner"
I'm trying to go through [this step](../tree/master/guides/ansible_tower/2-config#step-6) and it happens to refer to some inventories, which don't exist in the repo.

/cc: @tima

[2018-02-26 15:02] webknjaz commented on #289
I guess [this one](../blob/master/inventory.ini) would work

[2018-02-26 16:38] webknjaz opened #290 "Outdated Tower screenshots"
* [ ] slide "Schedule Jobs"
* [ ] https://github.com/ansible/lightbulb/tree/master/guides/ansible_tower/3-create#step-5-1
* [ ] also, some pictures in guides are missing from the repo completely

[2018-02-26 20:16] tima commented on #289
Thanks for pointing that out. We need to update that example sometime soon -- it's currently accurate if the lab was created by the AWS lab provisioner, but that doesn't mean we should do something better.

This issue is loosely related to #283.

[2018-02-26 20:22] tima commented on #290
Thanks for reporting this @webknjaz. Can you be more specific to which images are missing entirely in your third point?

[2018-02-27 10:45] webknjaz commented on #290
https://github.com/ansible/lightbulb/blob/master/guides/ansible_tower/README.md - tower logo
https://github.com/ansible/lightbulb/tree/master/guides/ansible_tower/2-config#step-5 - submit button, add button, create an inventory

[2018-03-01 16:30] thedoubl3j commented on #290
will take a look at this tomorrow and into next week. apologies on being late

[2018-03-06 19:14] dswhitley opened #292 "provision_lab.yml playbook fails"
I think this is due to the fact that `lightbulb/tools/aws_lab_setup/inventory/global_vars/all.yml` is no longer read and therefore `ssh_port` is not defined.  Here is the error:
[code]

This is potentially due to a change in ec59cbaa96ace8135ed59f4936676e8ccf03aa0e because if I change `ansible.cfg` from:
[code]
to
[code]
the provision_lab playbook completes as expected.  The `inventory` directory

[2018-03-06 19:39] bhirsch70 commented on #230
I'd be happy to pick this up.  I serve as the Insights SME in pub sector and can work with the BU to come up with a "workshop" eval sub similar to what you all did with Tower.

[2018-03-07 17:42] gregdek commented on #230
So long as the eval is (reasonably) easily accessible for community folks, this would be great.

What I don't want to see is a workshop that we say "anyone can run" and then that anyone turns out to be "just Red Hat folks" for various logistics reasons.

[2018-03-07 21:13] xunlinkx commented on #230
Evals currently require a paid RHEL subscription. The entitlement model would need to be changed to enable this, although I think it would be a wonderful idea. Agree with @gregdek

[2018-03-09 16:33] ikke-t opened #294 "ssh_port default missing in few places"
Hi,

the aws provisioner fails due missing definition for ssh_port:
[code]

there are these places which should have default set like `{{ ssh_port | default('22') }}`:

[code]

[2018-03-09 17:10] ikke-t commented on #294
Fixed by PR.

[2018-03-09 17:10] #294 closed

[2018-03-31 03:51] jlozadad commented on #280
would something like this work?
[code]

then you just comment out the one you need.

[2018-04-04 09:37] ayushkalani opened #300 "Incorrect link in workshops/basic_playbook"
The uri_module link in `https://github.com/ansible/lightbulb/tree/master/workshops/basic_playbook` to uri_module is pointing to template_module.
There is a mismatch in link, I have corrected the link and now it's pointing to uri_module i.e-
http://docs.ansible.com/ansible/latest/modules/uri_module.html

[2018-04-04 14:17] dswhitley commented on #292
This concern was addressed in https://github.com/ansible/lightbulb/pull/295 so this issue is no longer relevant.

[2018-04-04 14:17] #292 closed

[2018-04-09 20:38] tima commented on #300
Closed by #301

[2018-04-09 20:38] #300 closed

[2018-04-10 14:29] liquidat commented on #290
@webknjaz, thanks for pointing those out, great work! I think I've fixed most of them :)
But I don't find the first one actually:

Do you mean [the one in the decks](https://github.com/ansible/lightbulb/blob/master/decks/images/tower/schedule-jobs.png)? That looks right to me, what do you think is wrong with that one?

[2018-04-10 17:02] webknjaz commented on #290
I guess. Honestly, I don't remember now, but looks like it.
As I recall, it looked differently from what I saw in my installation of Tower.

[2018-04-12 09:53] liquidat commented on #290
@webknjaz Thanks for the quick answer. I checked, and it mostly looks like my local installation, so I suggest we will keep it for now.
The rest should be closed by PR #309 , so I'd say we can close this issue.

[2018-04-12 14:00] #290 closed

[2018-04-16 16:06] tima opened #310 "Switch back to EPEL again"
Back by popular demand, Ansible is back in EPEL and is the preferred way for the community using Lightbulb to install it.

We need to reverse this commit: 5def529e5c4ee04d19138f715ed9a0bb5f6c09c4 and scan the guide, speaker notes and workshops to make sure they are consistent and reflect the use of EPEL.

[2018-04-18 13:25] liquidat commented on #310
@tima

So is EPEL the preferred way - of pip? Because in most cases (decks, etc.) we recommend pip and not the RPM way of installing Ansible.

[2018-04-18 21:24] tima commented on #310
Yes @liquidat: yum as opposed to pip installation is necessary in the context of lightbulb. That should have been fixed some months ago. The problem is if you install engine using pip you will run into all sorts of problems when you try to install Tower.

[2018-04-19 00:39] nicholas-chia opened #311 "Failed to get: undefined GET returned: 401 Authentication credentials were not provided."
Been getting 401 errors on Tower UI during Lightbulb sessions. Logout of UI and added the below line into /etc/tower/settings.py helped.

REMOTE_HOST_HEADERS = ['HTTP_X_FORWARDED_FOR']

This was reported in AWX https://github.com/ansible/awx/issues/1019

[2018-04-19 04:46] tima commented on #311
Interesting. @dfederlein is this something you and your team have come across and remedied?

[2018-04-19 12:26] liquidat opened #314 "Update AWS setup documentation"
At `lightbulb/tools/aws_lab_setup/README.md` fix follwing things:

- mentioning of redhatgov should be dropped in favor of our own solution (when available)
- add information where to get VPC subnet id
- streamline howto, current mentioning of no-email at the beginning can be improved

@tima You can assign me to this directly, I am on those.

[2018-04-19 13:58] #310 closed

[2018-04-19 14:46] #314 closed

[2018-04-20 05:49] nicholas-chia commented on #311
I have a workshop today again and I have to add the same settings and restart tower service. All the students are seeing the same error.

[2018-04-20 15:01] thedoubl3j commented on #311
will take a look into it. haven't seen this recently but I will check our ticket log and see if we have addressed this.

[2018-04-20 18:28] thedoubl3j commented on #311
@nicholas-chia are you running in aws either behind an ELB or proxy? or running locally behind an LB/proxy?

[2018-04-21 01:52] dfederlein commented on #311
I'll pull this branch and stand up to test myself.

@nicholas-chia can you tell me what region you're launching in?

[2018-04-21 17:09] nicholas-chia commented on #311
@thedoubl3j hosted on AWS. Standard provisioning. No ELB or Proxy configured. But if there was a transparent proxy configured in the network I was in, that could explain why I am seeing this. I will test again in Singapore when I get back.

@dfederlein the region is ap-southeast-1 (Singapore).

[2018-04-23 13:34] thedoubl3j commented on #311
sounds good @nicholas-chia that was my first thought, if there is nothing there let us know and we dive deeper.

[2018-04-24 18:42] dfederlein commented on #311
I wonder if the place you were giving the demo/workshop had a proxy for all network traffic out to web...

I can't replicate this one.

[2018-05-30 04:02] liquidat opened #329 "Instructor inventory artifacts for larger courses"
When a course with more than 10 users, the instructors inventory has artifacts: the student 1 list does not only contain hosts for student 1, but for student 1, student 11, student 12, etc. The same is true for student 2 which also contains the hosts for student 20, 21, etc.

[code]
It seems that the template generator does not properly filter the students.

[2018-06-04 10:55] rndmh3ro commented on #329
I guess the problem here is that you use `student1` instead of `student01`. Does this still happen when you use `student01`?

[2018-06-04 11:55] liquidat commented on #329
@rndmh3ro Ah, of course - thanks!

[2018-06-04 11:55] #329 closed

[2018-06-04 15:49] tima commented on #329
FWIW @liquidat, this is #114. I think we could handle not having a leading zero better in the template.

[2018-06-04 16:47] liquidat commented on #329
@tima A, I missed that one. Good to know!

[2018-06-04 18:59] angystardust opened #331 "AuthFailure: Not authorized for images: [ami-2b9d6c52]"
I'm having this issue during the provisioning on AWS in eu-west-1 region:
[code]
Strangely enough, if I deploy the AMI using the AWS web-gui, i cannot see the same permission issue.

[2018-06-04 20:17] dfederlein commented on #331
If it works from the UI and doesn't from CLI launch, this feels like the wrong credentials are being sourced on the command line.

Do you have conflicting credentials in a ~/.boto file than what is used in the web UI (or other source?)

[2018-06-04 21:09] angystardust commented on #331
Hi @dfederlein thanks for your reply. Unfortunately it seems a problem with the AMI since I can successfully deploy a centOS ami in eu-west-1 (ami-a625b8df) without issue at all. At the same time, trying to mimic what lightbulb is doing and deploying the lightbulb ami from the aws-cli, break up with the same error:

[code]
 P.s: my Access key ID belongs to an "AdministratorAccess" user.

[2018-06-04 21:30] dfederlein commented on #331
AMI image names don't get shared across availability zones, to my knowledge.  Is there a list for that CentOS mini mal in the AZ you want to deploy to?

[2018-06-04 21:35] angystardust commented on #331
Yes, the list of CentOS AMI is available from here: https://wiki.centos.org/Cloud/AWS

[2018-06-05 18:54] dfederlein commented on #331
Ok in your reply you said  this:
Unfortunately it seems a problem with the AMI since I can successfully deploy a centOS ami in eu-west-1 (ami-a625b8df)

But then the command is this:

aws --region eu-west-1 --profile my-aws ec2 run-instances --image-id ami-2b9d6c52

That looks like a mismatch to me, is the second one in that region?

[2018-06-06 00:35] angystardust commented on #331
sorry for not being so clear but I meant to show you the error while trying to deploy the lightbulb AMI in the eu-west-1 region (ami-2b9d6c52) rather than the successfully creation of the CentOS instance.
By the way, today I've tried to deploy lightbulb in _us-east-1_ and everything worked as expected. So, I suppose there's an issue with the AMI on the _eu-west-1_ region.

[2018-06-08 22:34] dfederlein commented on #331
Odd. Wonder if the AMI store was having an issue or something. I've been able to launch that AMI in us-west-1 and the corresponding AMI in us-west-2.

Not sure what else to do for this, but in the future we're going to be parting the provisioner out to a role in galaxy, so as to easily substitute different provisioners on this. We'll be doing some reworking of the AWS stuff too.  Not sure on the t

[2018-06-08 22:34] #331 closed

[2018-06-27 04:05] nicholas-chia commented on #311
Did not get any issues in Singapore. I think it's likely the transparent proxy at the premises I last ran the workshop. Gonna close this. Thanks.

[2018-06-27 04:05] #311 closed

[2018-06-27 04:09] nicholas-chia opened #332 "Unsupported parameters for (ec2_vpc_subnet) module errors"
TASK [manage_ec2_instances : Create subnet for TRAINING-LAB-vpc] *****************************************************************************************************************************
FAILED - RETRYING: Create subnet for TRAINING-LAB-vpc (15 retries left).
FAILED - RETRYING: Create subnet for TRAINING-LAB-vpc (14 retries left).
FAILED - RETRYING: Create subnet for TRAINING-LAB-vpc (13 retri

[2018-06-27 06:18] #332 closed

[2018-09-12 16:17] z0nedesign opened #341 "Logo design proposal for project lightbulb"
Hello, how are you? I am a graphic designer and I am interested in showing you a logo proposal for your project for free.

[2018-09-12 16:17] dfederlein commented on #341
nope.

[2018-09-12 16:17] #341 closed

[2018-09-23 11:33] rndmh3ro opened #342 "remove "who am I" slide from best-practises deck?"
When using the best-practices deck for my own presentations as a teacher, the "Who am I" slide is misleading as that's not me. :)

Any reason, it is in there? If not, I can make a PR to remove it.

[2018-09-23 12:42] gundalow commented on #342
Oh, I left that in, my mistake, I'll replace it with a template.

[2018-09-25 06:12] rndmh3ro commented on #150
Is it possible to reopen this discussion?
From my perspective `ansible-vault` is essential and there are many more users that use vault than those who use tower.

Arguably its more often in use than the `block`-directive. So maybe add another "slide-down" to "Doing More with Playbooks", along templates, loops, blocks and so on?

[2018-12-03 16:49] rndmh3ro commented on #342
Fixed by https://github.com/ansible/lightbulb/pull/343, thanks!

[2018-12-03 16:49] #342 closed

[2018-12-05 15:41] nqb commented on #159
Hello @tima,

I'm interesting by this enhancement.

I think it would be fine to also have page numbers directly on deck, should I need to open a separate issue for this ?

[2018-12-05 17:48] nqb opened #352 "[deck] Ansible best practices: add excerpt of a requirements.yml"
In Ansible best practices, the `requirements.yml` file is mentioned without its syntax.

It would be nice to add a short excerpt of this file, like for `site.yml` on the 31 page.

Thanks for this nice deck !

[2018-12-06 03:53] nqb opened #354 "[deck] Ansible essentials: errors in Plays & Playbooks"
Pages 38 to 41 have the same code, they should not.

[2018-12-06 06:59] nqb commented on #352
An example here:

https://github.com/geerlingguy/ansible-for-devops/blob/ea8ef619809ff6d60e183f8c618413919f9c2774/deployments-balancer/requirements.yml

[2018-12-06 07:02] nqb opened #355 "Mailing list"
Is the lightbulb project has a mailing list (like the linklight project) ?

If not, I will find it useful to contribute to the project and exchange with other contributors.

[2019-01-02 06:32] nqb commented on #355
Any updates ?

[2019-01-11 22:22] tjyang opened #361 "Not able to see notes in rendered web page"
* There are notes after [line 163](https://github.com/ansible/lightbulb/blob/master/decks/intro-to-ansible-tower.html#L163)
* How can I see those notes in  rendered web page like [this screenshot.](https://user-images.githubusercontent.com/378638/51062470-9a673200-15bc-11e9-8a1d-c8e97a8344fe.png)

[2019-01-12 08:34] gundalow commented on #361
Hi,
Press `s` for Speaker Notes, and you should get a popup window.

Where do you think we should document this?

[2019-01-12 10:50] tjyang commented on #361
@gundalow , Thanks for the "s" tip.
Not sure where is best place to give out this tip.  May be at 1st page ?

[2019-01-14 11:03] gundalow commented on #361
The first page of each slide?

It's also listed on http://ansible.github.io/lightbulb/

[2019-01-14 11:16] tjyang commented on #361
@gundalow
Once I knew  the "s" key and it is also documented in home page.
Now it seems just an user error.
BTW, what kind of diagramming tool used to produce the slides in html code ?

[2019-05-16 04:59] davivcgarcia opened #369 "EC2 type of RHEL-Tower is not compatible with Ansible Tower 3.4"
The environment created by `aws_lab_setup` playbook uses a `t2.medium' type for RHEL-Tower (control node). AWS creates instances with a little bit less than 4GB of memory, which is the minimum required by Ansible Tower 3.4.

When running the bundled installer, we see:

[code]

Checking the instance memory:

[code]